<footer class="footer">
    <div class="footer-top">
        <div class="footer-logos">
            <img src="{{ url_for('static', filename='icons/bmkg.svg') }}" alt="BMKG" class="logo-bmkg">
            <img src="{{ url_for('static', filename='icons/copernicus.png') }}" alt="Copernicus" class="logo-copernicus">
            <img src="{{ url_for('static', filename='icons/akhlak.png') }}" alt="ECMWF" class="logo-ecmwf">
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-info">
            <a href="#" class="footer-link">About CCIS</a>
            <a href="#" class="footer-link">Help</a>
            <a href="#" class="footer-link">Terms of Use</a>
        </div>
    </div>
</footer>