<!-- Bar Waktu -->
<div id="time-bar" class="web-header">
  <span id="day-time" class="local">...</span>
  <span id="utc-time" class="utc">...</span>
</div>

<!-- Header Utama -->
<header class="web-header">
    <a href="{{ url_for('home') }}" class="logo-container">
        <img src="{{ url_for('static', filename='icons/home/BMKG_Black.png') }}" alt="BMKG Logo" class="bmkg-logo">
        <div class="logo-text">
            <h3>CLIMATE CHANGE INFORMATION SYSTEM</h3>
            <small>Badan Meteorologi Klimatologi dan Geofisika</small>
        </div>
    </a>

    <nav class="home-navigasi">
        <ul>
            <li><a href="{{ url_for('climpact') }}">Climpact</a></li>
            {% if session.logged_in %}
                <li><span style="color:#0056b3;">Halo, {{ session.username }}</span></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            
            <li>
                <button id="theme-toggle" class="theme-toggle-btn">
                    🌙 Mode Malam
                </button>
            </li>
        </ul>
    </nav>
</header>